 <VAppBar height="48" class="STHeader my-2">
<!--    <VToolbar>-->
    <RouterLink
        v-for='header in headers'
        class='STHeader__menu-item'
        :key='header.value'
        :to="header.path"
    >
        {{header.value}}
    </RouterLink>

    <VSpacer />
    
    <span class='STHeader__action-item'>Funds: ${{cash}}</span>
    <span @click="updateStocks">End day</span>
    <VIcon @click="openAccountMenu">alarm</VIcon>
    <VMenu attach="#kkk" absolute>
        <template v-slot:activator="{ on }">
            <VBtn id="kkk" v-on="on">account</VBtn>
        </template>
        <VList>
            <VListItem>
                Settings
            </VListItem>
            <VListItem>
                Log out
            </VListItem>
        </VList>
    </VMenu>
   
</VAppBar>
