<VCard class="STAsset">
    <VContainer class="pa-0">
        <VRow class="STAsset__header ma-0">
            <VCardTitle class="STAsset__asset-info pa-2">
                {{asset.name}}
                <slot name="subtitle" />
            </VCardTitle>
        </VRow>
        <VRow class="STAsset__actions ma-0">
            <input placeholder="Quantity" class="STAsset__quantity-input" :value.number="value" @input="handleInput($event.target.value)"/>
            <slot name="action" />
        </VRow>
    </VContainer>
</VCard>

